<!-- WHEN USING SIGNALS -->

<!-- <div>
    <button (click)="onSelectUser()" > -->

        <!-- Property binding -->
        <!-- <img [src]="'assets/users/'+selectedUser.avatar"  -->
        <!-- [alt]="selectedUser.name"/> -->
         <!-- <img
            [src]="imagePath()"
            [alt]="selectedUser().name"
         /> -->

        <!-- String Interpolation -->
        <!-- <span>
            {{ selectedUser().name}}
        </span>

    </button>
</div> -->

<!-- WHEN NOT USING SIGNALS -->
<app-card>
    <button [class.active]="selected" (click)="onSelectUser()" >
        <span>
            {{name}}
        </span>

    </button>
</app-card>
